---
const personalImageAlt = "Federico Navós";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Federico Navós y mis amigos me dicen Fede. Tengo 23 años y soy de
      Rosario. Terminé mis estudios como <strong
        >Ingeniero en Sistemas de Información</strong
      > a fines del 2022.
    </p>

    <p>
      Con habilidades en <strong>Python y React</strong>, mi especialidad es dar
      vida a las ideas mediante el desarrollo Full Stack. Para mí, ser
      desarrollador va más allá de programar; es un proceso de exploración y
      creación.
    </p>

    <p>
      Más allá de buscar ampliar mi stack tecnológico, me gusta investigar sobre
      nuevas tecnologías y cómo estas pueden impactar en la vida de las
      personas. Me entusiasma el futuro de la <strong
        >inteligencia artificial</strong
      > y también el de la <strong>criptomonedas</strong>, lo que me ha llevado
      a realizar charlas sobre estos temas.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-blue-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
