---
import ExperienceItem from "./ExperienceItem.astro";
import { t } from "i18next";

interface Experience {
  date: string;
  title: string;
  company: string;
  description: string;
}

const EXPERIENCE = t("experience", { returnObjects: true }) as Experience[];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience: any) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
